.TeamWrapper {
    height: 425px;
    /* width: 467.71px; */
    width: 100vw;
    padding: 0 153px;
    /* margin-top: 120px; */
    background-color: var(--color-gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 51px;
}

.cardContainer {
    width: 1139px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}