.PracticesArea{
    /* height: 1228px; */
    /* width: 467.71px; */
    width: 100vw;
    padding: 120px 153px;
    /* margin-top: 120px; */
    background-color: var(--color-gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 51px;
}