.clientsWrapper {
    width: 100vw;
    padding: 120px 153px;
    /* margin-top: 120px; */
    background-color: var(--color-gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 51px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 1139px; */
    width: 1138px;
    margin-left: 12px;
    font-size: 54px;
    font-weight: 600;
    line-height: 77px;
    letter-spacing: 0em;

}

.titleContainer {
    width: 374px;
}


.cardContainer {
    width: 1139px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
